
<section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">Hey, I'm Sharvari Limbkar</h1>
        <div class="home-hero__info">
          <p class="text-primary">
            A curious developer who loves design systems and is always learning.
             I create user-focused, high-performance applications while leading teams to deliver scalable, user-first solutions.
          </p>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/sharvari-limbkar" class="home-hero__social-icon-link linkedin" rel="noreferrer" target="_blank">
            <img src="assets/svg/linkedin-dark.svg" alt="Sharvari's Linkedin Profile" class="home-hero__social-icon">
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://github.com/sharvarilimbkar" class="home-hero__social-icon-link" rel="noreferrer" target="_blank">
            <img src="assets/svg/github-dark.svg" alt="Sharvari Github Profile" class="home-hero__social-icon">
          </a>
        </div>
      </div>
    </section>
